{%- assign site_title = site.title | default: 'Eventually Deluxe' -%}
{%- assign page_title = page.title | default: site.tagline -%}
{%- if page_title -%}
  {%- assign separator = site.title_separator | default: ' | ' -%}
  {%- if page.title and site.title_sequence != 'site' -%}
	{%- assign tag_title = page.title | append: separator | append: site_title -%}
  {%- else -%}
	{%- assign tag_title = site_title | append: separator | append: page_title -%}
  {%- endif -%}
{%- else -%}
  {%- assign tag_title = site_title -%}
{% endif %}

	<head>
		<title>{{ tag_title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

